<?xml version="1.0" encoding="utf-8"?>
<!--
	Plato.NET
	Copyright (c) 2016 ReflectSoftware Inc.
	Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. 
-->
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net461" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net461" />
  <package id="Plato" version="2.0.23" targetFramework="net461" />
  <package id="Plato.Cache" version="2.0.23" targetFramework="net461" />
  <package id="Plato.Configuration" version="2.0.23" targetFramework="net461" />
  <package id="Plato.Core" version="2.0.23" targetFramework="net461" />
  <package id="Plato.Security" version="2.0.23" targetFramework="net461" />
  <package id="Plato.Serializers" version="2.0.23" targetFramework="net461" />
  <package id="Plato.WinAPI" version="2.0.23" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net461" />
</packages>