<?xml version="1.0" encoding="utf-8" ?>

<!--
	Plato.NET
	Copyright (c) 2016 ReflectSoftware Inc.
	Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. 
-->
<configuration>
  <!--
  Example section
  -->
  <section id="section1">
    <content id="content1">
      <![CDATA[
      Your content
      ]]>
    </content>
    <content id="content2">
      <![CDATA[
      Your content
      ]]>
    </content>
      <content id="content3">
      <![CDATA[
       Your content
      ]]>
    </content>
  </section>

  <!--
  Example section
  -->
  <section id="section2">
    <content id="content1">
      <![CDATA[
      Your content
      ]]>
    </content>
    <content id="content2">
      <![CDATA[
      Your content
      ]]>
    </content>
    <content id="content3">
      <![CDATA[
      Your content
      ]]>
    </content>
  </section>

</configuration> 
