<?xml version="1.0" encoding="utf-8"?>

<!--
	Plato.NET
	Copyright (c) 2016 ReflectSoftware Inc.
	Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. 
-->
<configuration>
	<configSections>
    <section name="platoSettings" type="Plato.Configuration.ConfigurationHandler, Plato.System.Configuration" />		
	</configSections>
	
	<platoSettings>
    <workManager applicationName="Some Application Name" waitOnTerminateThread="10000" eventTracker="20" disableWatchWhenDebugging="false"/>

      <!-- NameValueCollection parameter names -->
      <!--
      workSleep="60000"
      instances="1"
      aliveResponseWindow="60"
      restartNonResponsive="true"
      abortThreadOnUnhandledException="false"
      customWorkerProp1="value1"
      customWorkerProp2="value2"
      customWorkerProp3="value3"
      customWorkerProp4="value4"
      -->

	<exception.publishers mode="on" eventSource="Application" eventTracker="0">
      <publisher mode="on"
                 name="EventPublisher"
                 type="Plato.ExceptionManagement.ExceptionEventPublisher, Plato.ExceptionManagement"                 
                 eventSource="Application" />

      <publisher mode="on"
                 name="LogTextFilePublisher"
                 type="Plato.ExceptionManagement.ExceptionLogTextFilePublisher, Plato.ExceptionManagement"
                 recycle="7"
                 filePath="$(workingdir)\logs\exceptions.txt" />

    </exception.publishers>
  </platoSettings>

</configuration>
