<?xml version="1.0"?>
<!--
	Plato.NET
	Copyright (c) 2018 ReflectSoftware Inc.
	Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. 
-->
<amqSettings>
  <connectionSettings 
    name="senderConnection" 
    username="admin" 
    password="admin"
    asyncSend="true"
    uri="tcp://localhost:61616?tcpNoDelay=true,tcp://localhost:61626?tcpNoDelay=true"
    delayOnReconnect="1000"/>
  
  <destinationSettings 
    name="sender" 
    deliveryMode="persistent" 
    path="topic://VirtualTopic.test" />
  
  <destinationSettings 
    name="receiver" 
    ackMode="autoacknowledge" 
    path="queue://Consumer.SomeName.test?consumer.exclusive=true" 
    durable="true" 
    subscriberId="" 
    selector=""/>
</amqSettings>
