<?xml version="1.0"?>

<!--
	Plato.NET
	Copyright (c) 2016 ReflectSoftware Inc.
	Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. 
-->
<rmqSettings>
  <connectionSettings 
    name="defaultConnection"
    username="local-dev-user"
    password="local-dev-user"
    virtualhost="local-dev-vh"
    hostname="localhost"
    port="5672" />

  <exchange name="pre_trade" exchangeName="oms.pre_trade" type="direct" durable="true" autoDelete ="false" />
  <exchange name="exchange_engine" exchangeName="oms.exchange_engine" type="direct" durable="true" autoDelete ="false" />
  <exchange name="execution_reports" exchangeName="oms.execution_reports" type="topic" durable="true" autoDelete ="false" />
  <exchange name="market_data_changes" exchangeName="oms.market_data_changes" type="direct" durable="true" autoDelete ="false" />
</rmqSettings>
