<?xml version="1.0"?>

<!--
	Plato.NET
	Copyright (c) 2016 ReflectSoftware Inc.
	Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. 
-->
<rmqSettings>
  <connectionSettings 
    name="defaultConnection"
    username="local-dev-user"
    password="local-dev-user"
    virtualhost="local-dev-vh"
    hostname="localhost"
    port="5672" />

  <exchange name="SomeName1" 
            exchangeName="ExchangeName1" 
            type="direct" 
            durable="true" 
            autoDelete ="false" />
    
  <exchange name="SomeName2" 
            exchangeName="ExchangeName2" 
            type="topic" 
            durable="true" 
            autoDelete ="false" />

  <queue name="SomeName1"
         queueName="queueName1"
         durable ="true" 
         exclusive="false" 
         autoDelete="false">
    
    <!-- not required -->
    <consumer tag ="someTagValue"
              exclusive="false"
              noAck="false"
              noLocal="false"/>    
  </queue>
  
  
</rmqSettings>
