<?xml version="1.0"?>

<!--
	Plato.NET
	Copyright (c) 2016 ReflectSoftware Inc.
	Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. 
-->
<rmqSettings>
  <connectionSettings 
    name="defaultConnection"
    username="local-dev-user"
    password="local-dev-user"
    virtualhost="local-dev-vh"
    uri="amqp://localhost:5672,amqp://localhost:5673"
    delayOnReconnect="0" />

  <!-- Producer/Consumer Test -->
  <queue name="ProConQueueTest"
         queueName="ProConQueueTest"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true">
  </queue>

  <!-- Pub/Sub Fanout -->
  <exchange name="Test.FanoutExchange"
           exchangeName="Test.FanoutExchange"
           type="fanout"
           durable="true"
           autoDelete ="false" />

  <queue name="Test.FanoutQueue"
         queueName="Test.FanoutQueue"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true"/>

  <!-- Pub/Sub Direct -->
  <exchange name="Test.DirectExchange"
            exchangeName="Test.DirectExchange"
            type="direct"
            durable="true"
            autoDelete ="false" />

  <queue name="Test.DirectQueue"
         queueName="Test.DirectQueue"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true"
         routingKeys="R1, R2, R3"/>


  <!-- Pub/Sub Topic-->
  <exchange name="Test.TopicExchange"
           exchangeName="Test.TopicExchange"
           type="topic"
           durable="true"
           autoDelete ="false" />

  <queue name="Test.TopicQueue1"
         queueName="Test.TopicQueue"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true"
         routingKeys="*.orange.*"/>

  <queue name="Test.TopicQueue2"
         queueName="Test.TopicQueue"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true"
         routingKeys="lazy.#, *.*.rabbit"/>

  <!-- Sample with consumer node -->
  <queue name="SomeName"
         queueName="someQueueName"
         durable ="true" 
         exclusive="false" 
         autoDelete="false">
    
    <!-- not required -->
    <consumer tag ="someTagValue"
              exclusive="false"
              noAck="false"
              noLocal="false"/>    
  </queue>
  
  
</rmqSettings>
