<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plato.Cache" version="2.0.23" targetFramework="net461" />
  <package id="Plato.Core" version="2.0.23" targetFramework="net461" />
  <package id="Plato.Serializers" version="2.0.23" targetFramework="net461" />
  <package id="Plato.WinAPI" version="2.0.23" targetFramework="net461" />
</packages>