<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net462" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="MsgPack.Cli" version="1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net462" />
  <package id="Pipelines.Sockets.Unofficial" version="1.0.7" targetFramework="net462" />
  <package id="ReflectSoftware.Insight" version="5.7.1.1" targetFramework="net462" />
  <package id="StackExchange.Redis" version="2.0.513" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="4.5.2" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Threading.Channels" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net462" />
</packages>