<?xml version="1.0"?>
<rmqSettings>
  <connectionSettings
     name="defaultConnection"
     username="local-dev-user"
     password="local-dev-user"
     virtualhost="local-dev-vh"
     uri="amqp://localhost:5672,amqp://localhost:5673,amqp://localhost:5674"
     delayOnReconnect="2000" />

  <queue name="My.Queue"
         queueName="My.Queue"
         durable ="true"
         exclusive="false"
         autoDelete="false"
         persistent="true">
    <arguments x-dead-letter-exchange=""
               x-dead-letter-routing-key="My.Queue.DLQ" />
  </queue>

</rmqSettings>
